@model ProjectView.Models.ViewModel.ProjectModel
@{
    ViewBag.Title = "ProjectDelete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>删除项目信息</h2>

<h3>你确定要删除这个项目信息吗?</h3>
<fieldset>
    <legend>项目信息</legend>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.ProjectName)：
    </div>
    <div class="DeleteSpan">
        @Html.DisplayFor(model => model.ProjectName)
    </div>
    <br />
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Describe)：
    </div>
    <div class="DeleteSpan">
        @Html.DisplayFor(model => model.Describe)
    </div>
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="submit" value="删除"  class="SubmitBut" />
        |
        @Html.ActionLink("详细列表", "Index")
    </p>
    @Html.ValidationMessage("error")
}
