@model IEnumerable<ProjectView.Models.ViewModel.RemarkModel>

@{
    ViewBag.Title = "评语管理";
}

<h2>评语管理</h2>

<br />
<p>
    @Html.ActionLink("添加新评语", "Create")
</p>
<br />
@using (Html.BeginForm())
{
    <table width="100%">
        <tr>
            <td>班级评语信息：@Html.DropDownList("ClassID")

            </td>
            <td>
                <input type="submit" value="查询" class="SubmitBut" />
            </td>
        </tr>

    </table>
    <table width="100%" class="myListTable">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StuNo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StuName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Remark)
            </th>
            <th>操作</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StuNo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StuName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Remark)
                </td>
                <td style="width: 120px;">
                    @Html.ActionLink("修改", "Edit", new { id = item.ID }) |
            @Html.ActionLink("详细", "Details", new { id = item.ID }) |
            @Html.ActionLink("删除", "Delete", new { id = item.ID })
                </td>
            </tr>
        }
    </table>
}
<br />
@Html.ActionLink("首页", "MainPage", "Teacher")
